In [37]:
import pandas as pd
import gspread as gs
import warnings
import sys
warnings.filterwarnings('ignore')

In [38]:
gc = gs.service_account(filename="C:/Users/leste/OneDrive/Desktop/Python files/mypythonprogrammes/Mydatafiles/service_account.json")

In [39]:
google_spreadsheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1cM1pMxHZof65AeVIUJphyYZze3Ew0myrzqlmg9tvQdg/edit#gid=1044390699")

<font face = "Times New Roman" size = 5 color = "orange"> Creating DataFrames </font>

In [40]:

def extract_sheets():
    token_ids = []
    sheets = google_spreadsheet.worksheets()
    for sheet in sheets:
        token_ids.append(sheet)
    return token_ids
    
extract_sheets()

[<Worksheet 'AAPL' id:0>,
 <Worksheet 'MSFT' id:177394609>,
 <Worksheet 'GOOG' id:1261668908>,
 <Worksheet 'AMZN' id:1631741944>,
 <Worksheet 'TSLA' id:1799150376>,
 <Worksheet 'NVDA' id:669265052>,
 <Worksheet 'META' id:1044390699>]

In [41]:
df_dict = {}

def declare_dataframes():
    
    for i in extract_sheets():
        df = pd.DataFrame(i.get_all_records())
        df_dict.update({f"{i.title}_stock" : df})
      
        
   
declare_dataframes()

<font face = "Times New Roman" size = 5 color = "yellow">Parsing dates</font>

In [42]:


def to_datetime(dataframes):
    try:
        
        for data_frame in dataframes:
            if len(df_dict) != len(extract_sheets()):
                sys.exit("The no. of google sheets does not match the count of dataframe objects")
            else:
                data_frame.set_index("Date",inplace = True)
                data_frame.index = pd.to_datetime(data_frame.index , infer_datetime_format= True)
                warnings.filterwarnings('ignore')
                
    
    except KeyError:
        print("FUNCTION EXECUTED SUCCESSFULLY")
        print(type(data_frame.index))

to_datetime(df_dict.values())

In [43]:
df_dict["AAPL_stock"]

                       Open    High     Low   Close    Volume
Date
2017-03-01 16:00:00   28.95   29.08   28.69   29.04  28781865
2017-04-01 16:00:00   28.96   29.13   28.94   29.01  21118116
2017-05-01 16:00:00   28.98   29.22   28.95   29.15  22193587
2017-06-01 16:00:00   29.20   29.54   29.12   29.48  31751900
2017-09-01 16:00:00   29.49   29.86   29.49   29.75  33561948
...                     ...     ...     ...     ...       ...
2022-12-20 16:00:00  131.39  133.25  129.89  132.30  77432819
2022-12-21 16:00:00  132.98  136.81  132.75  135.45  85927993
2022-12-22 16:00:00  134.35  134.56  130.30  132.23  77852108
2022-12-23 16:00:00  130.92  132.42  129.64  131.86  63814893
2022-12-27 16:00:00  131.38  131.41  128.72  130.03  69007830

[1507 rows x 5 columns]