# **<font face = "Times New Roman" color = "cyan">Objectives of the Project</font>**

**1. Comparing the status of the Companies pre-covid and post-covid**

**2. Pulling out key figures from the data set**

**3. Segregating companies based on the market capitalisation**

**4. Comparing the top 10 companies overall by visual representation**

In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt 
import plotly.express as px

# <font color = "orange" face = "Times New Roman">Reading the data and parsing it.</font>

> **[Source of the Data](https://www.kaggle.com/datasets/ramjasmaurya/et-top-500-indian-companies-since-2009?resource=download)**

In [17]:
economic_times = pd.read_csv("C:/Users/leste/OneDrive/Desktop/Python files/mypythonprogrammes/Mydatafiles/Economic times Top 500 companies since 2009 - 2009-2021 - Copy.csv",header= None ,thousands= ",", names =  ["RANK","PREVIOUS YEAR RANK","COMPANY NAME","REVENUE(₹ Cr)","REVENUE CHANGE","PAT IN CRORES","PAT CHANGE","MARKET CAP(₹ Cr)", "YEAR"], skiprows= 1)

<font size = "5" color = "Pink" face = "Times New Roman">**Statistical description of the data**</font>

In [18]:
economic_times.describe()

,RANK,REVENUE(₹ Cr),REVENUE CHANGE,PAT IN CRORES,PAT CHANGE,MARKET CAP(₹ Cr),YEAR
count,6500.000000,6500.000000,4749.000000,6500.000000,3736.000000,6.498000e+03,6500.000000
mean,250.500000,13537.451846,196.754639,803.278615,2365.706933,2.212451e+04,2015.000000
std,144.348383,38179.020952,11361.603472,3255.103920,16753.817475,7.236382e+04,3.741945
min,1.000000,774.000000,-420.630000,-73878.000000,-115.600000,0.000000e+00,2009.000000
25%,125.750000,2298.500000,3.510000,57.000000,1.402500,1.325500e+03,2012.000000
50%,250.500000,3927.000000,13.460000,213.000000,16.315000,4.355500e+03,2015.000000
75%,375.250000,9105.750000,25.720000,653.000000,56.355000,1.520150e+04,2018.000000
max,500.000000,610806.000000,782552.170000,53739.000000,501044.000000,2.464509e+06,2021.000000

In [19]:
economic_times.head(5)

,RANK,PREVIOUS YEAR RANK,COMPANY NAME,REVENUE(₹ Cr),REVENUE CHANGE,PAT IN CRORES,PAT CHANGE,MARKET CAP(₹ Cr),YEAR
0,1,1,Reliance Industries Ltd.,505153,-17.30,53739,34.75,1573893.0,2021
1,2,4,State Bank of India,385337,NaN,24279,4.71,448717.0,2021
2,3,2,Indian Oil Corporation Ltd.,368645,-24.44,21762,NaN,122384.0,2021
3,4,3,Oil And Natural Gas Corporation Ltd.,315262,-22.50,21343,86.30,191776.0,2021
4,5,8,Rajesh Exports Ltd.,258315,-29.88,845,32.06,20169.0,2021

<font size = "5" color = "Pink" face = "Times New Roman">**Info on the data**</font>

In [20]:
economic_times.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RANK                6500 non-null   int64
 1   PREVIOUS YEAR RANK  6500 non-null   object
 2   COMPANY NAME        6500 non-null   object
 3   REVENUE(₹ Cr)       6500 non-null   int64
 4   REVENUE CHANGE      4749 non-null   float64
 5   PAT IN CRORES       6500 non-null   int64
 6   PAT CHANGE          3736 non-null   float64
 7   MARKET CAP(₹ Cr)    6498 non-null   float64
 8   YEAR                6500 non-null   int64
dtypes: float64(3), int64(4), object(2)
memory usage: 457.2+ KB

<font size = "5" color = "Pink" face = "Times New Roman">**Revealing any missing values in the dataset**</font>

In [21]:
economic_times.isnull().sum()

RANK                     0
PREVIOUS YEAR RANK       0
COMPANY NAME             0
REVENUE(₹ Cr)            0
REVENUE CHANGE        1751
PAT IN CRORES            0
PAT CHANGE            2764
MARKET CAP(₹ Cr)         2
YEAR                     0
dtype: int64

<font size = "5" color = "Pink" face = "Times New Roman">**Dropping columns which have missing values**</font>

In [22]:
economic_times.drop(["REVENUE CHANGE", "PAT CHANGE","PREVIOUS YEAR RANK"], axis= 1, inplace= True)

<font size = "5" color = "Pink" face = "Times New Roman">**Sorting Data in terms of rank**</font>

In [23]:
economic_times = economic_times.sort_values(by= "RANK")

<font size = "5" color = "Pink" face = "Times New Roman">**Segregation by Marketing Capitalisation**</font>

In [24]:
economic_times

,RANK,COMPANY NAME,REVENUE(₹ Cr),PAT IN CRORES,MARKET CAP(₹ Cr),YEAR
0,1,Reliance Industries Ltd.,505153,53739,1573893.0,2021
5000,1,Indian Oil Corporation Ltd.,313627,7830,73497.0,2011
5500,1,Indian Oil Corporation Ltd.,257559,10713,104335.0,2010
1000,1,Reliance Industries Ltd.,575873,39588,949280.0,2019
1500,1,Indian Oil Corporation Ltd.,424321,22189,130903.0,2018
...,...,...,...,...,...,...
999,500,VRL Logistics Ltd.,2128,90,1502.0,2020
5499,500,Rohit Ferro-Tech Ltd.,1179,44,153.0,2011
499,500,JBM Auto Ltd.,1994,49,3758.0,2021
1999,500,Pfizer Ltd.,2055,360,12860.0,2018
6499,500,Heidelberg Cement India Ltd.,805,125,1002.0,2009

In [25]:
economic_times["COMPANY TYPE"] = pd.cut(economic_times["MARKET CAP(₹ Cr)"],bins = [0,5000,20000,2000000], labels=["Small-Cap","Mid-Cap","Large-Cap"])

In [26]:
economic_times

,RANK,COMPANY NAME,REVENUE(₹ Cr),PAT IN CRORES,MARKET CAP(₹ Cr),YEAR,COMPANY TYPE
0,1,Reliance Industries Ltd.,505153,53739,1573893.0,2021,Large-Cap
5000,1,Indian Oil Corporation Ltd.,313627,7830,73497.0,2011,Large-Cap
5500,1,Indian Oil Corporation Ltd.,257559,10713,104335.0,2010,Large-Cap
1000,1,Reliance Industries Ltd.,575873,39588,949280.0,2019,Large-Cap
1500,1,Indian Oil Corporation Ltd.,424321,22189,130903.0,2018,Large-Cap
...,...,...,...,...,...,...,...
999,500,VRL Logistics Ltd.,2128,90,1502.0,2020,Small-Cap
5499,500,Rohit Ferro-Tech Ltd.,1179,44,153.0,2011,Small-Cap
499,500,JBM Auto Ltd.,1994,49,3758.0,2021,Small-Cap
1999,500,Pfizer Ltd.,2055,360,12860.0,2018,Mid-Cap
6499,500,Heidelberg Cement India Ltd.,805,125,1002.0,2009,Small-Cap

### <font size = "5" color = "Pink" face = "Times New Roman">**Filtering the data in terms of the years**</font>

> <u>**Filtering the data only for 4 years (2018 -2021)**</u>

> **The reason for only taking 4 years to compare the companies pre-covid and post covid**

In [27]:
year_objects = economic_times["YEAR"].unique()
df_dict = {}

def filtering_by_year(years,dfs):
    '''Segregating the data by years and sorting the index'''
    for i in year_objects:
        if i > 2017:
            df = dfs.loc[dfs["YEAR"] == i].reset_index().drop("index", axis = 1)
            df_dict.update({f"economic_times_{i}" : df})
            
         
        
filtering_by_year(year_objects, economic_times)

In [28]:
def renaming_columns(years):
    """Renaming columns for easier identification.
    looping throug years, renaming columns by year"""
    for i in years:
        if i > 2017:
            df_dict[f"economic_times_{i}"] = df_dict[f"economic_times_{i}"].rename(columns = {
                "RANK" : f"RANK {i}",
                "REVENUE(₹ Cr)" : f"{i} REVENUE(₹ Cr)",
                "PAT IN CRORES" : f"{i} PAT IN CRORES",
                "MARKET CAP(₹ Cr)" : f"{i} MARKET CAP(₹ Cr)",
                "COMPANY TYPE" : f"{i} COMPANY TYPE",
                "YEAR"  : f"YEAR {i}"
          
            })
renaming_columns(year_objects)

In [29]:
df_2021_2020 = df_dict["economic_times_2021"].merge(df_dict["economic_times_2020"], on = "COMPANY NAME", how = "inner")
df_2019_2018 = df_dict["economic_times_2019"].merge(df_dict["economic_times_2018"], on = "COMPANY NAME", how = "inner")
df_merged = df_2021_2020.merge(df_2019_2018, on = "COMPANY NAME", how= "inner")

reports = {}
reports.update({"Merged_reports" : df_merged})

### <font size = "5" color = "Pink" face = "Times New Roman">**Details after merging the dataset**</font>

<u>**Only 400 companies have been consistent in making it to ranking system for 4 years with all records available**</u>

<u>**More than 200 companies  have been inconsistent with their performance in some years which effected their ranking which is why  their records haven't been entered in the dataset**</u>

<u>The following datasets will have companies who have made it to the ET 500 list</u>

In [105]:
column_names = economic_times.columns
def inserting_columns(years,dict_key):
    for timeline in years:
       if  timeline > 2017: 
        try:
            position = int(input("Enter the position of the column"))
            year = int(input("Enter the year"))
            if year == 2018:
                sys.exit("The least value for year parameter is 2019")
            column_name = str(input("Enter the column name"))
            if column_name not in column_names:
                sys.exit("The value entered is not in the columns")
            else:
                reports[dict_key].insert(loc = position ,column = f"{year} {column_name}_%CHANGE", value = (reports[dict_key][f"{year} {column_name}"] - reports[dict_key][f"{year-1} {column_name}"])/reports[dict_key][f"{year-1} {column_name}"]*100)
        except ValueError:
            pass

inserting_columns(year_objects, dict_key= "Merged_reports")

In [123]:
set_1 = ["COMPANY NAME","2021 REVENUE(₹ Cr)","2021 REVENUE(₹ Cr)_%CHANGE","2021 PAT IN CRORES","2021 PAT IN CRORES_%CHANGE","2021 MARKET CAP(₹ Cr)","YEAR 2021","2021 COMPANY TYPE"]
set_2 = ["COMPANY NAME","2020 REVENUE(₹ Cr)","2020 REVENUE(₹ Cr)_%CHANGE","2020 PAT IN CRORES","2020 PAT IN CRORES_%CHANGE","2020 MARKET CAP(₹ Cr)","YEAR 2020","2020 COMPANY TYPE"]
set_3 = ["COMPANY NAME","2019 REVENUE(₹ Cr)","2019 REVENUE(₹ Cr)_%CHANGE","2019 PAT IN CRORES","2019 PAT IN CRORES_%CHANGE","2019 MARKET CAP(₹ Cr)","YEAR 2019","2019 COMPANY TYPE"]

In [137]:
def creating_reports(columns):  
    dictionary_name = str(input("Enter a suitable dictionary name"))
    df = reports["Merged_reports"][columns]
    reports.update({f"{dictionary_name}" : df})

creating_reports(set_1)