In [286]:
import pandas as pd 
%run ETF_code_structure.py

In [287]:
equity_ETF_tickers = ["AXISGOLD.BO","ICICINIFTY.NS","HDFCSENETF.NS"]

In [288]:
ETF_extraction = ETF_analysis(equity_ETF_tickers, start_date = "2012-1-1" , end_date  = None)

In [289]:

ETF_extraction.ETF_data_extraction()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Symbol,Series
Date,,,,,,,,
2012-02-14,2730.000000,2772.000000,2730.000000,2772.000000,2772.000000,12,AXISGOLD.BO,EQ
2012-02-15,2744.000000,2760.000000,2705.149902,2756.659912,2756.659912,21,AXISGOLD.BO,EQ
2012-02-16,2705.449951,2780.500000,2705.449951,2780.500000,2780.500000,23,AXISGOLD.BO,EQ
2012-02-17,2779.000000,2779.000000,2779.000000,2779.000000,2779.000000,1,AXISGOLD.BO,EQ
2012-02-21,2798.949951,2798.949951,2722.010010,2722.010010,2722.010010,4,AXISGOLD.BO,EQ
...,...,...,...,...,...,...,...,...
2023-02-27,653.969971,653.969971,641.690002,646.849976,646.849976,6289,HDFCSENETF.NS,EQ
2023-02-28,646.599976,648.909973,641.500000,642.929993,642.929993,13464,HDFCSENETF.NS,EQ
2023-03-01,655.000000,655.000000,645.000000,648.150024,648.150024,5773,HDFCSENETF.NS,EQ
2023-03-02,652.969971,652.979980,641.299988,642.929993,642.929993,4892,HDFCSENETF.NS,EQ
2023-03-03,643.000000,652.000000,643.000000,650.260010,650.260010,13097,HDFCSENETF.NS,EQ

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed